@{
    ViewBag.Title = Resources.Lang.ContactsTitle;
    ViewBag.Description = Resources.Lang.HomePageDescription;
    ViewBag.PageKeyWords = Resources.Lang.HomePageKeywords;
}

<div id="tab3" class="tab_content">   
          <!-- page title -->
    <div class="page_title">
        <h2>@Resources.Lang.Contacts</h2>
        @Resources.Lang.ContactsBody
    </div>
    <!-- / page title -->

    <!-- contact -->
    <div class="contact">
        @Resources.Lang.ContactEmail
    </div>
    <!-- / contact -->
</div>
