/src/Conversion.Core/bin
/src/Conversion.Core/obj
/src/Coversion/obj
/src/Coversion/bin
/src/Coversion.Tests/obj
/src/Coversion.Tests/bin
/src/packages
/src/Coversion/Properties/PublishProfiles
/src/Coversion/*.user
/src/Coversion.v11.suo
/src/Coversion.v12.suo
